@use 'variables' as var
    
body
    margin: 0
    font-family: var.$font-family
*
    box-sizing: border-box

.container
    width: 100%
    max-width: 75rem
    margin: 0 auto
    @media screen and (max-width: 75rem)
        padding: 0 1rem

// app header
header
    background-color: var.$theme-color
    color: var.$font-color
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 3rem
    .container
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between
    .site-logo
        font-weight: 600
    nav
        ul
            margin: 0
            padding: 0
            list-style: none
            display: flex
            gap: 0.75rem
            li
                a
                    text-decoration: none
                    color: var.$font-color

main
    margin-top: 3rem
    .hero-image
        height: auto
        max-height: 30rem
        overflow: hidden
        img
            width: 100%
            height: auto
            object-fit: cover