@use 'variables' as var
    
body
    margin: 0
    font-family: var.$font-family
*
    box-sizing: border-box

.container
    width: 100%
    max-width: 1200px
    margin: 0 auto

// app header
header
    background-color: var.$theme-color
    color: var.$font-color
    padding: 0.75rem 1rem
    .container
        display: flex
        justify-content: space-between
    .site-logo
        font-weight: 600
    nav
        ul
            margin: 0
            padding: 0
            list-style: none
            display: flex
            gap: 0.75rem
            li
                a
                    text-decoration: none
                    color: var.$font-color