@use 'variables' as var
    
// normalize and general
body
    margin: 0
    font-family: var.$font-family
*
    box-sizing: border-box
a
    text-decoration: none
    transition: all 0.3s ease
    &:focus
        outline: none
        box-shadow: 0 0 0.5rem 0.125rem var.$theme-color
span, p, h3
    transition: all 0.3s ease
    &[tabindex="0"]
        &:focus
            outline: 4px dashed var.$theme-color
img
    transition: all 0.3s ease
    &:focus
        filter: brightness(0.88)

.container
    width: 100%
    max-width: 75rem
    margin: 0 auto
    @media screen and (max-width: 75rem)
        padding: 0 1rem

// app header
header
    background-color: var.$theme-color
    color: var.$font-color
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 3rem
    z-index: 8
    .container
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between
    .site-logo
        font-weight: 600
        display: flex
        justify-content: flex-start
        align-items: center
        gap: 0.25rem
        img
            height: 1.25rem
            width: 1.25rem
    nav
        #nav-toggle
            display: none
            &:checked ~ ul
                left: 0
        .nav-toggle-label
            font-size: 1.25rem
            height: 2.75rem
            line-height: 2.75rem
            width: 2.75rem
            text-align: center
            cursor: pointer
            display: none
            &:hover
                color: #fff
            @media screen and (max-width: 30rem)
                display: block
        ul
            margin: 0
            padding: 0
            list-style: none
            display: flex
            gap: 0.75rem
            transition: left 0.3s ease
            position: relative
            li
                a
                    padding: 0 0.5rem
                    display: block
                    height: 2.75rem
                    line-height: 2.75rem
                    text-decoration: none
                    color: var.$font-color
                    &:hover
                        color: #fff
                        text-decoration: underline
            @media screen and (max-width: 30rem)
                left: 100%
                position: absolute
                background: var.$theme-color
                display: block
                width: 100vw
                border-width: 1px 0 
                border-style: solid
                border-color: var.$secondary-color
                box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15)
                z-index: 1
                li
                    width: 100%
                    text-align: center
                    a
                        padding: 0
                        display: block
                        height: 2.75rem
                        line-height: 2.75rem
                        text-decoration: none
                        &:hover
                            color: #fff
                            text-decoration: underline

main
    margin-top: 3rem
    margin-bottom: 2rem
    .hero-image
        height: auto
        max-height: 30rem
        overflow: hidden
        img
            width: 100%
            height: auto
            object-fit: cover

.section-title
    font-size: 1.5rem
    font-weight: 600
    text-align: center
    margin: 1rem auto

.cards-holder
    display: grid
    grid-template-columns: repeat(3, minmax(15rem, 1fr))
    gap: 1rem
    @media screen and (max-width: 75rem)
        grid-template-columns: repeat(2, minmax(10rem, 1fr))
    @media screen and (max-width: 30rem)
        grid-template-columns: 1fr

.card
    position: relative
    border: 1px solid #ccc
    border-radius: 1rem
    overflow: hidden
    .card-header
        overflow: hidden
        height: 15rem
        position: relative
        img
            height: auto
            min-width: 100%
            position: absolute
            bottom: 0
            z-index: 1
        span
            position: absolute
            background-color: var.$theme-color
            padding: 0.5rem 1rem
            top: 2rem
            left: 0
            z-index: 2
    .card-description
        padding: 0.75rem
        display: grid
        span.rating
            font-size: 0.75rem
            color: #678678
            display: block
            margin-bottom: 0.5rem
        span.title
            font-weight: 600
            display: block
        p
            font-size: 0.75rem
        a
            height: 2.75rem
            line-height: 2.75rem
            text-decoration: none
            display: inline-block
            width: fit-content
            justify-self: flex-end
            margin-top: 0.5rem
            font-weight: 600
            padding: 0 1.25rem
            border: 1px solid var.$secondary-color
            border-radius: 0.5rem
            color: var.$secondary-color
            &:hover
                color: var.$theme-color
                border-color: var.$theme-color

footer
    background-color: var.$secondary-color
    padding: 1.5rem 0
    text-align: center
    color: #fff