<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="site-logo">
        <img src="./images/logo.svg" width="100" alt="Yell-Owl Logo">
        <span class="site-name">Yell-Owl</span>
      </div>
      <nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span>&#9776;</span>
        </label>
        <input tabindex="-1" type="checkbox" id="nav-toggle" class="nav-toggle">
        <ul>
          <li><a href="#/home" tabindex="-1">Home</a></li>
          <li><a href="#/favorite" tabindex="-1">Favorite</a></li>
          <li><a href="#/about" tabindex="-1">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="hero-image">
      <img tabindex="0" src="./images/heros/hero-image_2.jpg" width="450" alt="Selamat Datang di Yell-Owl">
      <span class="hero-image__title" tabindex="0">Best Restaurants Reference</span>
    </section>

    <section class="container">
      <h3 class="section-title" tabindex="0">Explore Restaurants</h3>
      <div class="cards-holder" id="recordRestaurants"></div>
    </section>
  </main>

  <footer>
    <span tabindex="0">
      copyright @ 2020 - Yello-Owl
    </span>
  </footer>
</body>
</html>
