<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <title>Restaurant Apps Starter Project</title>
</head>
<body id="body">
  <a href="#mainContent" class="skip-link">Skip ke Konten!</a>
  <header id="header">
    <div class="container">
      <div class="site-logo">
        <img src="./images/logo.svg" width="100" alt="Yell-Owl Logo">
        <span class="site-name">Yell-Owl</span>
      </div>
      <nav id="navigationDrawer">
        <button id="navigationToggleButton" class="nav-toggle">&#9776;</button>
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="#/about-us">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="mainContent"></main>

  <footer>
    <app-footer></app-footer>
  </footer>
</body>
</html>
